# all executables
*.exe

# all linker and debug info files
*.pdb
*.ilk

# vscode settings should not be ignored

#old config files
**/config

**/CSV

# all log files
*.log

# some custom files
*.ini
*.bat

# some other test locals
**/RSATest
**/ConsoleSnake
**/VorteX
**/CmakeDllTest
**/ConanTest
**/TestCmake